body {
    background-color: #57bbbf;
    display: flex;
    flex-wrap: wrap;
}

div {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    flex: 1 1 45%; 
}

.type1 {
    border-color: red;
}

.type2 {
    border-color: green;
}

.type3 {
    border-color: blue;
}

.type4 {
    border-color: orange;
}

.type5 {
    border-color: purple;
}

.type6 {
    border-color: yellow;
}

.paragraph{
    font-style: normal;
    font-size: 30px;

}

.mainBottom {

}