<<<<<<< HEAD
/* CSS Reset */

*, *::before, *::after {
    box-sizing: border-box;
  }
* {
    margin: 0;
  }
=======
margin *

.mainPage {
    padding: 100px;
    background-color: blue;
    width: 500px;
    height: 500px;
    border: solid blue 2px;
}
>>>>>>> f78e138b021ad587c38347a27bd42dd114e6cd59
